@charset "UTF-8";
/*
Theme Name: Summit Register
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>Summit Register</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Summit Register
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Summit Register is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
@import url("https://use.typekit.net/rpx1vhj.css");
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.woff2") format("woff2");
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome" !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Media Queries
----------------------------------*/
/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
}

.site-content {
  background-color: #fff;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: rgb(17, 17, 17);
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-family: "futura-pt-condensed", Arial, Sans-Serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
}

/* Navbar Type Styling */
.site-title h1 {
  font-family: "futura-pt-condensed", Arial, Sans-Serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 0.95;
  margin: 0;
  color: #fff;
}

.shop-msr {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.shop-msr, .shop-msr:visited, .shop-msr:hover, .shop-msr:active {
  color: #fff;
}

.menu li a {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

/* Featured Content Headers */
.entry-title.featured-title {
  font-family: "futura-pt-condensed", Arial, Sans-Serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  margin: 20px 0;
}
.entry-title.featured-title a:hover, .entry-title.featured-title a:visited {
  color: #fff;
}

.read-more {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 0.95;
  margin: 0;
}

/* Post Grid Headers */
.entry-title {
  margin: 0;
}
.entry-title a:hover, .entry-title a:visited {
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.entry-meta {
  font-family: "futura-pt", Arial, Sans-Serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0.25em 0 0;
}

.entry-more a,
.entry-tags {
  font-family: "futura-pt", Arial, Sans-Serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
}

.page-numbers {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 500;
  text-transform: uppercase;
}

.entry-inserted h3 {
  font-family: "futura-pt-condensed", Arial, Sans-Serif;
  font-size: 36px;
  line-height: 36px;
}

.entry-inserted p {
  font-size: 20px;
  line-height: 24px;
}

/* Widget & Sidebar Headers */
.widget-title {
  font-size: 22px;
}

.list-title {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .entry-title.featured-title {
    font-size: 50px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .read-more {
    font-size: 14px;
  }
  .entry-title.featured-title {
    font-size: 32px;
    letter-spacing: 1px;
  }
}
p {
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

blockquote {
  font-family: "futura-pt", Arial, Sans-Serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.site-search input[type=text] {
  font-family: "futura-pt", Arial, Sans-Serif;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote {
  quotes: "" "";
  position: relative;
}
blockquote:before {
  position: absolute;
  left: -20px;
  top: 0;
  content: "“";
  font-family: "futura-pt", Arial, Sans-Serif;
  font-size: 30px;
  line-height: 24px;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

.blog-search {
  width: 100%;
  max-width: 970px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
}
.blog-search .search-header {
  padding-bottom: 1rem;
}
.blog-search .search-header h4 {
  margin: 0;
}
.blog-search .form form {
  width: 100%;
  display: flex;
  align-items: center;
}
.blog-search .form input[type=text] {
  flex: 1;
}
.blog-search .form input[type=submit] {
  margin-left: 1rem;
  letter-spacing: 0.05em;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid #e2383f;
  background: #e2383f;
  color: #fff;
  font-family: "futura-pt-condensed", Arial, Sans-Serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  padding: 7px 12px;
  transition: color 0.4s ease;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  color: rgba(255, 255, 255, 0.5);
}
button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  outline: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus {
  color: #111;
  outline: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search] {
  padding: 7px 15px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.site-search input[type=text] {
  width: 100%;
}

.has-featured-image .site-search input[type=text] {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.site-fixed-header .site-search input[type=text],
.site-search input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: rgb(17, 17, 17);
  transition: background-color 0.4s ease;
}

.site-fixed-header.no-animation .site-search input[type=text] {
  transition: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 53px;
  height: 63px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.4;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 0;
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    left: -73px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 73px;
  }
}
.slick-prev:before {
  background: url(images/prev.png) no-repeat 0 0;
  width: 53px;
  height: 63px;
  content: "";
  display: block;
}

.slick-next {
  right: 0;
}
[dir=rtl] .slick-next {
  left: 0;
  right: auto;
}
@media screen and (min-width: 1280px) {
  .slick-next {
    right: -73px;
  }
  [dir=rtl] .slick-next {
    left: 73px;
    right: auto;
  }
}
.slick-next:before {
  background: url(images/next.png) no-repeat 0 0;
  width: 53px;
  height: 63px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .slick-dots {
    bottom: 15px;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  width: 12px;
  height: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.85;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: #e2383f;
}
a:visited {
  color: #e2383f;
}
a:hover, a:focus, a:active {
  color: #e2383f;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: rgb(17, 17, 17);
}

.featured-text h2 a {
  color: #fff;
}

a.read-more,
.entry-inserted .entry-more a {
  color: #fff;
  background-color: #e2383f;
  border: none;
  padding: 10px 20px;
  transition: color 0.4s ease;
}

a.read-more:hover,
.entry-inserted .entry-more a:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: #e2383f;
  border: none;
  text-decoration: none;
}

.entry-more a {
  border: 1px solid rgb(17, 17, 17);
  color: rgb(17, 17, 17);
  background-color: transparent;
  padding: 5px 15px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.entry-more a:hover {
  border: 1px solid rgb(17, 17, 17);
  color: #fff;
  background-color: rgb(17, 17, 17);
  text-decoration: none;
}

.entry-tags a,
.entry-categories a {
  padding: 4px 10px;
  color: rgb(17, 17, 17);
  border: 1px solid rgb(17, 17, 17);
  transition: background-color 0.4s ease, color 0.4s ease;
}
.entry-tags a:hover,
.entry-categories a:hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  a.read-more {
    padding: 7px 12px;
  }
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.post-pagination {
  width: 100%;
  text-align: center;
  padding: 10px 0 30px;
}
.post-pagination .page-numbers {
  padding: 4px 8px;
  margin: 0 2px;
  font-size: 14px;
  background-color: rgb(248, 248, 248);
  color: rgb(120, 120, 120);
  transition: background-color 0.4s ease;
}
.post-pagination .page-numbers:hover {
  background-color: #e2383f;
  color: #fff;
  text-decoration: none;
}
.post-pagination .page-numbers.current,
.post-pagination .page-numbers.current:hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1em;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget_cdi_ajaxmailer_widget {
  width: 100%;
  padding: 30px;
  background-color: rgb(17, 17, 17);
  margin-bottom: 1px;
}
.widget_cdi_ajaxmailer_widget .widget-title {
  color: #fff;
  margin: 10px 0;
}
.widget_cdi_ajaxmailer_widget #cdi_mailer_email {
  display: inline-block;
  width: 144px;
  vertical-align: top;
}
.widget_cdi_ajaxmailer_widget .button {
  display: inline-block;
}
.widget_cdi_ajaxmailer_widget #cdi_mailer_form {
  font-size: 14px;
  line-height: 1.4;
  padding: 5px 0;
  color: #fff;
}

.widget_msr_follow_social_widget .msr-social-icon {
  background-color: rgb(17, 17, 17);
  padding: 15px 20px;
  display: inline-block;
  width: calc(25% - 2px);
  margin: 1px;
  transition: background-color 0.4s ease;
}
.widget_msr_follow_social_widget .msr-social-icon img {
  width: 100%;
  height: auto;
  display: block;
}
.widget_msr_follow_social_widget .msr-social-icon:hover {
  background-color: #e2383f;
}

.widget_text .widget-title {
  background-color: rgb(248, 248, 248);
  padding: 7px 12px;
  margin-bottom: 0;
  text-align: center;
}
.widget_text .textwidget {
  border: 1px solid #f2f2f2;
  padding: 20px;
}
.widget_text .textwidget a {
  opacity: 1;
  display: block;
  transition: opacity 0.4s ease;
}
.widget_text .textwidget a img {
  display: block;
  float: none;
  margin-right: none;
}
.widget_text .textwidget a:hover {
  opacity: 0.8;
}

.widget_youtubesidebarwidget .widget-title {
  background-color: rgb(248, 248, 248);
  padding: 7px 12px;
  margin-bottom: 0;
  text-align: center;
}
.widget_youtubesidebarwidget ul {
  margin: 0;
  padding: 0;
  float: none;
  overflow: hidden;
}
.widget_youtubesidebarwidget #youtube-sidebar-widget ul li div.play_arrow {
  background: url(./img/icon-play.png) no-repeat center center;
  background-size: 75px 75px;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.widget_youtubesidebarwidget #youtube-sidebar-widget ul li:hover div.play_arrow {
  opacity: 0.5;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

@media screen and (max-width: 950px) {
  .widget_text,
  .widget_youtubesidebarwidget {
    display: none;
  }
  .widget_cdi_ajaxmailer_widget .widget-title {
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
  }
  .widget_cdi_ajaxmailer_widget #cdi_mailer_email {
    width: 144px;
  }
  .widget_cdi_ajaxmailer_widget #cdi_mailer_form {
    max-width: 200px;
    margin: auto;
  }
  .widget_msr_follow_social_widget .msr-social-icon {
    padding: 15px 20px;
    height: 60px;
  }
  .widget_msr_follow_social_widget .msr-social-icon img {
    width: auto;
    height: 100%;
    margin: auto;
  }
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
main {
  width: 100%;
  max-width: 1040px;
  min-height: 450px;
  margin: auto;
  padding: 60px 20px 30px;
}

main::after {
  clear: both;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

/* Featured Content */
.featured-content {
  position: relative;
  width: 100%;
  height: 650px;
}

.flex-viewport {
  height: 100%;
}

.slides {
  width: 100%;
  height: 100%;
}

.featured-item {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.featured-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none; /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 ); /* IE6-9 */
}

.featured-text {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  bottom: 120px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 60px;
}

/* Post Grid layout styles */
.post-grid {
  width: calc(33% - 20px);
  margin: 10px;
  float: left;
  background-color: rgb(248, 248, 248);
}

.post-grid.entry-inserted {
  width: calc(100% - 30px);
  height: 302px;
}

.entry-thumb {
  width: 100%;
  height: 202px;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center center;
}

.entry-inserted .entry-thumb {
  width: 66%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.entry-text-content {
  margin: 30px;
  height: 210px;
  overflow: hidden;
}

.entry-inserted .entry-text-content {
  float: left;
  width: calc(33% - 88px);
  margin: 0;
  margin: 44px 44px 24px 44px;
  height: auto;
}

.entry-content {
  margin: 0.75em 0 0;
}

.post-grid .entry-content p {
  margin: 0;
}

.entry-inserted .entry-content {
  overflow: hidden;
  max-height: 96px;
}

.entry-text-content.no-thumb {
  height: 402px;
  margin-top: 40px;
}

.entry-more {
  margin: 30px;
}

.entry-inserted .entry-more {
  float: left;
  margin: 0 0 0 45px;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

@media screen and (max-width: 950px) {
  .featured-content {
    height: 500px;
  }
  .post-grid {
    width: calc(50% - 20px);
  }
  .post-grid.entry-inserted {
    width: calc(100% - 20px);
  }
  .entry-inserted .entry-thumb {
    width: calc(50% - 10px);
  }
  .entry-inserted .entry-text-content {
    width: calc(50% - 78px);
  }
}
@media screen and (max-width: 650px) {
  .featured-content {
    height: 420px;
  }
  .post-grid {
    width: calc(100% - 20px);
  }
  .entry-text-content.no-thumb {
    height: 258px;
    margin-top: 40px;
  }
  .post-grid.entry-inserted {
    height: auto;
    padding-bottom: 55px;
  }
  .entry-inserted .entry-thumb {
    width: 100%;
    height: 202px;
  }
  .entry-inserted .entry-text-content {
    width: calc(100% - 88px);
  }
}
/* Video Post Format */
.format-standard .entry-thumb-icon {
  display: none;
}

.format-video .entry-thumb-icon {
  width: 100%;
  height: 100%;
  background: url(./img/icon-play.png) no-repeat center center;
  background-size: 75px 75px;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.format-video .entry-thumb-icon:hover {
  opacity: 0.5;
}

/* Single Post Styles */
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 40px;
}
.responsive-table table {
  font-size: 0.875rem;
}
.responsive-table table thead {
  text-align: left;
}
.responsive-table table thead th {
  background: #c8102e;
  color: #fff;
  padding: 10px;
}
.responsive-table table tbody td {
  padding: 10px;
  vertical-align: middle;
}
.responsive-table table tbody td img {
  margin: 0;
}
.responsive-table table tbody td a {
  color: #c8102e;
}
.responsive-table table tbody tr:nth-child(even) td {
  background: #fafafa;
}
.responsive-table table tbody tr:nth-child(even) td img {
  mix-blend-mode: multiply;
}

.article-featured-image {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
}

.article-body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.article-body .content-area {
  width: 100%;
  float: left;
  padding: 0 50px 0 20px;
}
.article-body .content-area img {
  max-width: 100%;
  height: auto;
}
.article-body .widget-area {
  width: 300px;
  float: left;
  padding: 60px 20px;
}

.single-post .entry-meta {
  margin-top: 15px;
  position: relative;
}
.single-post .entry-meta .entry-time,
.single-post .entry-meta .entry-categories {
  display: inline-block;
  margin-top: 0;
}
.single-post .entry-meta .entry-time {
  margin-right: 10px;
}
.single-post .entry-meta .entry-categories a {
  display: inline-block;
  margin: 0px 10px 0 0;
}
.single-post .entry-meta .sd-sharing-enabled {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  vertical-align: top;
}

.single-post .entry-footer {
  margin: 20px 0;
}
.single-post .entry-footer .entry-tags a {
  margin: 0 0 10px 10px;
  display: inline-block;
}

@media screen and (max-width: 950px) {
  .article-body .content-area {
    width: 100%;
    max-width: 700px;
    margin: auto;
    float: none;
    padding: 0 20px 0 20px;
  }
  .article-body .content-area main {
    padding: 60px 10px 30px;
  }
  .article-body .widget-area {
    width: 100%;
    max-width: 700px;
    padding: 20px 20px;
    margin: auto;
    float: none;
  }
  .featured-text {
    padding: 30px 60px;
  }
  .article-featured-image {
    height: 350px;
  }
}
@media screen and (max-width: 650px) {
  .single-post .entry-meta .entry-categories {
    margin-top: 5px;
  }
  .single-post .entry-meta .entry-categories a {
    margin-top: 5px;
  }
  .single-post .entry-meta .sd-sharing-enabled {
    display: block;
    position: relative;
    float: none;
    margin: 15px 0 0 0;
  }
  .featured-text {
    bottom: 40px;
  }
  .article-featured-image {
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  main {
    padding: 40px 10px 30px;
  }
  .article-body .content-area main {
    padding: 40px 10px 20px;
  }
}
/* Search Results */
.search .no-results .page-title {
  padding: 0;
  margin: 0.67em 0;
  background-color: transparent;
  font-size: 48px;
  color: rgb(17, 17, 17);
}
.search .page-title {
  font-size: 34px;
  text-align: center;
  color: rgb(120, 120, 120);
}
.search .page-title span {
  color: rgb(17, 17, 17);
}
.search .page-title span::before {
  content: "“";
}
.search .page-title span::after {
  content: "”";
}

/* Error, 404, Not found */
.error-404,
.no-results,
.not-found {
  text-align: center;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.article-comments {
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 60px 40px;
}

#disqus_thread {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
  font-style: italic;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
13.0 FlexSlider
--------------------------------------------------------------*/
/*
 * jQuery FlexSlider v2.3.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville Ristimäki (@villeristi)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: "flexslider-icon";
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-container a:focus,
.flex-slider a:hover,
.flex-slider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  border-radius: 4px;
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}

.featured-content {
  overflow-x: hidden;
  background-color: rgb(17, 17, 17);
}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  text-indent: 9999px;
  background-image: url(./img/slider-arrow.png);
  background-size: 20px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev {
  left: -50px;
  transform: rotate(180deg);
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.featured-content:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.featured-content:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.featured-content:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.featured-content:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: "\f004";
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a .flex-play:before {
  content: "\f003";
}

.flex-control-nav {
  position: absolute;
  bottom: 20px;
  right: 40px;
  text-align: center;
  z-index: 15;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgb(255, 255, 255);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 800px) {
  .flex-direction-nav a {
    width: 20px;
    height: 20px;
    background-size: 10px 20px;
  }
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* Template Parts */
body.home .featured-content {
  height: unset;
  max-height: 650px;
  aspect-ratio: 4/3;
}
@media screen and (min-width: 768px) {
  body.home .featured-content {
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 992px) {
  body.home .featured-content {
    aspect-ratio: unset;
    width: 100%;
    height: 650px;
  }
}
body.home .featured-content .featured-text {
  bottom: unset;
  inset: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
body.home .featured-content .entry-title.featured-title {
  margin-bottom: 50px;
  width: 100%;
}
body.home .flex-control-nav {
  right: calc(50% - 46px);
}

/* Templates */
.site-header {
  border-bottom: 1px solid #c8102e;
  z-index: 5555;
  position: relative;
}
.site-header a:hover {
  text-decoration: none;
}
.site-header div {
  position: relative;
}
.site-header *,
.site-header input[type=search] {
  box-sizing: border-box;
}
.site-header .nav-bar {
  display: none;
  position: relative;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c8102e;
    width: 100%;
  }
}
.site-header .nav-bar .marquee {
  display: none;
  position: relative;
  max-height: 2rem;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar .marquee {
    display: flex;
    justify-content: center;
    width: calc(100% - 27rem);
  }
}
.site-header .nav-bar .marquee-slider {
  width: 32rem;
}
@media screen and (min-width: 1200px) {
  .site-header .nav-bar .marquee-slider {
    width: 36rem;
  }
}
.site-header .nav-bar .marquee .message {
  text-align: center;
  padding: 0.25rem 0;
  color: #fff;
  position: relative;
  font-family: soleil, sans-serif;
}
.site-header .nav-bar .marquee .message p {
  font-size: 0.875rem;
  margin: 0;
}
.site-header .nav-bar .marquee .message a {
  color: #fff;
  text-decoration: underline;
}
.site-header .nav-bar .marquee .slick-prev,
.site-header .nav-bar .marquee .slick-next {
  top: 4px;
  width: 20px;
  height: 20px;
  transform: translateX(0);
}
.site-header .nav-bar .marquee .slick-prev:before,
.site-header .nav-bar .marquee .slick-next:before {
  background-image: unset;
  opacity: unset;
  width: unset;
  height: unset;
  content: "\f0d9";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 0.875rem;
}
.site-header .nav-bar .marquee .slick-prev {
  left: 0;
}
.site-header .nav-bar .marquee .slick-prev:before {
  content: "\f0d9";
}
.site-header .nav-bar .marquee .slick-next {
  right: 0;
}
.site-header .nav-bar .marquee .slick-next:before {
  content: "\f0da";
}
.site-header .nav-bar .brands {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar .brands {
    width: 27rem;
  }
}
.site-header .nav-bar .brands .network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  line-height: 38px;
  padding: 0 10px;
}
.site-header .nav-bar .brands .network-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%) brightness(0) invert(1);
}
.site-header .nav-bar .brands .network-link:hover {
  background-color: #fff;
}
.site-header .nav-bar .brands .network-link:hover img {
  filter: grayscale(100%);
}
.site-header .nav-bar .brands .msr {
  background-color: #fff;
}
.site-header .nav-bar .brands .msr img {
  width: 40px;
  filter: grayscale(100%);
}
.site-header .nav-bar .brands .platypus img {
  width: 75px;
}
.site-header .nav-bar .brands .packtowl img {
  width: 65px;
}
.site-header .nav-bar .brands .sealline img {
  width: 57px;
}
.site-header .nav-bar .brands .thermarest {
  background-color: #c8102e;
  padding-left: 12px;
}
.site-header .nav-bar .brands .thermarest img {
  width: 90px;
  filter: brightness(0) invert(1);
}
.site-header .hamburger {
  margin-right: auto;
  width: 6rem;
  margin-left: 4px;
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
.site-header .hamburger a:before {
  content: "\f0c9";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1.5rem;
  font-weight: 100;
}
.site-header .hamburger a:hover, .site-header .hamburger a:focus, .site-header .hamburger a:active {
  text-decoration: none;
}
.site-header .hamburger a.show:before {
  content: "\f00d";
}
.site-header .logo {
  display: flex;
  justify-content: center;
  margin-left: -6px;
}
@media screen and (min-width: 992px) {
  .site-header .logo {
    margin-right: 0.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .logo {
    margin-right: 0;
  }
}
.site-header .logo a {
  display: block;
}
.site-header .logo img {
  width: 125px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
.site-header .site-navigation {
  font-family: soleil, sans-serif;
  background: #fff;
  padding: 15px 24px 15px 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation {
    justify-content: space-between;
    padding: 15px 16px 15px 16px;
  }
}
.site-header .desktop-nav {
  display: none;
  position: relative;
}
@media screen and (min-width: 992px) {
  .site-header .desktop-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .desktop-nav {
    margin-left: 10px;
  }
}
.site-header .desktop-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  position: relative;
}
.site-header .desktop-nav li {
  position: relative;
}
.site-header .desktop-nav .first-level:last-of-type {
  margin-left: 1rem;
}
.site-header .desktop-nav .first-level:last-of-type:before {
  content: "";
  display: block;
  height: 30px;
  width: 2px;
  background: #b3b1b2;
  position: absolute;
  left: -8px;
  top: -3px;
}
.site-header .desktop-nav .main-link {
  color: #000;
  font-size: 15px;
  font-weight: 900;
  line-height: 1rem;
  padding: 10px 0.5rem 30px 0.5rem;
  text-transform: uppercase;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .site-header .desktop-nav .main-link {
    padding: 10px 0.75rem 30px 0.75rem;
    font-size: 16px;
  }
}
.site-header .desktop-nav .main-link:after {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 24px);
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  transition: all 0.2s ease;
}
.site-header .desktop-nav .main-link.show:after {
  background: #c8102e;
}
.site-header .desktop-nav .dropdown-menu {
  border-top: 2px solid #c8102e;
  border-bottom: 2px solid #c8102e;
  position: absolute;
  top: 3.25rem;
  width: 100vw;
  background: #fff;
  z-index: 10;
  padding: 2rem;
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}
.site-header .desktop-nav .dropdown-menu.show {
  display: block;
  opacity: 1;
  pointer-events: unset;
}
.site-header .desktop-nav .dropdown-menu-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.site-header .desktop-nav .col {
  padding: 1rem 1rem 0 1rem;
}
.site-header .desktop-nav .col.links {
  border-right: 2px solid #b1b1b1;
}
.site-header .desktop-nav .col.links:nth-child(3) {
  border-right: none;
}
.site-header .desktop-nav .col.links h2 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-left: 20px;
  letter-spacing: 0;
  line-height: 1em;
}
.site-header .desktop-nav .col.links a {
  display: block;
  padding: 7px 20px;
  line-height: 20px;
  white-space: nowrap;
  color: #000;
}
.site-header .desktop-nav .col.links a:hover {
  color: #c8102e;
}
.site-header .desktop-nav .col.promo .promo-container {
  position: relative;
  max-width: 340px;
  margin-left: 1rem;
}
.site-header .desktop-nav .col.promo .promo-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 78.2352941176%;
}
.site-header .desktop-nav .col.promo .promo-container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.site-header .desktop-nav .col.promo a {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.site-header .desktop-nav .col.promo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-header .desktop-nav .col.promo a .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  text-align: center;
  padding: 1rem;
}
.site-header .desktop-nav .col.promo a .info .label {
  color: #fff;
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: futura-pt-bold, sans-serif;
}
.site-header .desktop-nav .col.promo a .info .explore {
  font-family: futura-pt-bold, sans-serif;
  position: absolute;
  bottom: 0;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.375rem 0.75rem;
  bottom: 3rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.site-header .desktop-nav .col.promo a:hover .info {
  background: rgba(0, 0, 0, 0.25);
}
.site-header .desktop-nav .col.promo a:hover .info .explore {
  opacity: 1;
}
.site-header .utilities {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 6rem;
}
@media screen and (min-width: 992px) {
  .site-header .utilities {
    width: auto;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .utilities .search .mobile {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .utilities .search .mobile {
    display: none;
  }
}
.site-header .utilities .search .mobile a {
  display: block;
}
.site-header .utilities .search .mobile a:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1.675rem;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .search .mobile a:before {
    font-size: 1rem;
  }
}
.site-header .utilities .search .desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .site-header .utilities .search .desktop {
    display: block;
  }
}
.site-header .utilities .search .desktop .search-container {
  position: relative;
  cursor: pointer;
}
.site-header .utilities .search .desktop .search-container .search-field {
  pointer-events: none;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: 138px;
  height: 38px;
  padding-left: 35px;
  font-weight: 500;
  font-family: soleil, sans-serif;
}
.site-header .utilities .search .desktop .search-container .search-field:focus, .site-header .utilities .search .desktop .search-container .search-field:active {
  outline: none;
}
.site-header .utilities .search .desktop .search-container .search-field::-webkit-input-placeholder {
  color: #6c757d;
}
.site-header .utilities .search .desktop .search-container .search-field::-moz-placeholder {
  color: #6c757d;
}
.site-header .utilities .search .desktop .search-container .search-field:-moz-placeholder {
  color: #6c757d;
}
.site-header .utilities .search .desktop .search-container .search-field:-ms-input-placeholder {
  color: #6c757d;
}
.site-header .utilities .search .desktop .search-container .search-btn {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
  position: absolute;
  top: 11px;
  left: 12px;
}
.site-header .utilities .search .desktop .search-container .search-btn:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1rem;
}
.site-header .utilities .links {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links {
    padding-left: 1.5rem;
  }
}
.site-header .utilities .links .profile {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links .profile {
    display: block;
    padding-right: 1.5rem;
  }
  .site-header .utilities .links .profile:before {
    content: "";
    display: block;
    height: 40px;
    width: 1px;
    background: #000;
    position: absolute;
    right: 0.675rem;
    top: -8px;
  }
}
.site-header .utilities .links .profile a {
  display: block;
}
.site-header .utilities .links .profile a:before {
  content: "\f007";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1.375rem;
}
.site-header .utilities .links .cart a {
  display: block;
}
.site-header .utilities .links .cart a:before {
  content: "\f07a";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1.75rem;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links .cart a:before {
    font-size: 1.375rem;
  }
}
.site-header .banner {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .banner {
    display: flex;
    background: #c8102e;
    padding: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.site-header .banner a {
  color: #fff;
  display: block;
  font-size: 1rem;
  line-height: 1.75em;
}

.mobile-nav-show .site-header {
  border-bottom: none;
}

.blog-nav {
  padding: 25px 0;
  background: #f2f2f2;
}
@media screen and (min-width: 1024px) {
  .blog-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}
.blog-nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-nav-header .logo {
  max-width: 120px;
}
@media screen and (min-width: 1024px) {
  .blog-nav-header .logo {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .blog-nav-header .logo {
    margin-right: 24px;
  }
}
.blog-nav-header .mobile-toggle {
  padding-left: 50px;
}
@media screen and (min-width: 1024px) {
  .blog-nav-header .mobile-toggle {
    display: none;
  }
}
.blog-nav-header .mobile-toggle a {
  display: block;
  line-height: 0;
}
.blog-nav-header .mobile-toggle a img {
  max-width: 24px;
  width: 100%;
  transition: all 0.2s ease-in;
}
.blog-nav-links {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 1024px) {
  .blog-nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    overflow: unset;
    padding-top: 0 !important;
  }
}
.blog-nav-links a:not(.search-btn) {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #000;
}
@media screen and (min-width: 640px) {
  .blog-nav-links a:not(.search-btn) {
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .blog-nav-links a:not(.search-btn) {
    padding: 10px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .blog-nav-links a:not(.search-btn) {
    padding: 10px 24px;
  }
}
.blog-nav-links a:not(.search-btn):hover {
  text-decoration: underline;
}
.blog-nav-links .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.2s ease-in;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .blog-nav-links .search-btn {
    width: auto;
    padding-left: 20px;
    justify-content: flex-start;
  }
}
.blog-nav-links .search-btn .search-trigger {
  display: block;
  padding: 0;
  margin: 4px 0 0 0;
  width: 14px;
  max-width: 14px;
  line-height: 14px;
}
.blog-nav-links .search-btn .search-trigger:active, .blog-nav-links .search-btn .search-trigger:focus {
  outline: none;
}
.blog-nav-links .search-btn .search-trigger img {
  width: 14px;
  max-width: 14px;
}
.blog-nav-links .search-btn .search-trigger-open {
  display: none;
}
.blog-nav-links .search-btn.open .search-trigger-closed {
  display: none;
}
.blog-nav-links .search-btn.open .search-trigger-open {
  display: block;
}
.blog-nav-links .search-btn.open .form-wrapper {
  display: block;
}
.blog-nav-links .search-btn .form-wrapper {
  width: 280px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 32px;
  right: calc(50% - 120px);
  z-index: 100;
  display: none;
}
@media screen and (min-width: 992px) {
  .blog-nav-links .search-btn .form-wrapper {
    right: 0;
  }
}
.blog-nav-links .search-btn .form-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
}
.blog-nav-links .search-btn .form-wrapper form .search-input {
  flex: 1;
}
.blog-nav.open .mobile-toggle img {
  transform: rotate(180deg);
}
.blog-nav.open .blog-nav-links {
  padding-top: 10px;
  overflow: unset;
  max-height: 1000px;
}

.site-search {
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background: #fff;
  font-family: soleil, sans-serif;
}
.site-search *,
.site-search input[type=search] {
  box-sizing: border-box;
}
.site-search div {
  position: relative;
}
.site-search a:hover {
  text-decoration: none;
}
.site-search .search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
.site-search .search-header .logo {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .logo {
    display: block;
    width: 125px;
    height: 48px;
  }
}
.site-search .search-header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.site-search .search-header .logo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.site-search .search-header .search-form {
  position: relative;
  flex: 1;
  margin-right: 2rem;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .search-form {
    flex: unset;
    width: 45vw;
    margin-right: 0;
  }
}
.site-search .search-header .search-input {
  border: 1px solid #4a4a4a;
  border-radius: 0.1875rem;
  background: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  height: 38px;
}
.site-search .search-header .search-input:focus, .site-search .search-header .search-input:active {
  outline: none;
}
.site-search .search-header .search-input::-webkit-input-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-search .search-header .search-input::-moz-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-search .search-header .search-input:-moz-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-search .search-header .search-input:-ms-input-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-search .search-header .submit {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
  position: absolute;
  top: 11px;
  right: 12px;
}
.site-search .search-header .submit:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .search-close {
    width: 180px;
    display: flex;
    justify-content: flex-end;
  }
}
.site-search .search-header .search-close a {
  display: block;
}
.site-search .search-header .search-close a:after {
  content: "\f00d";
  display: block;
  font-family: "FontAwesome";
  color: #000;
  font-size: 1.5rem;
  font-weight: 100;
}
.site-search .popular-searches {
  padding: 2rem 0 3rem 0;
  background: #fff;
}
.site-search .popular-searches .container {
  max-width: 20rem;
  margin: 0 auto;
}
.site-search .popular-searches .headline {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #dedede;
  margin-bottom: 0.75rem;
}
.site-search .popular-searches .headline h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a9a9a9;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0;
  font-family: soleil, sans-serif;
}
.site-search .popular-searches ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.site-search .popular-searches ul li {
  margin: 0;
  padding: 0 0 0.375rem 0;
  line-height: unset;
}
.site-search .popular-searches ul li a {
  font-weight: 900;
  color: rgb(169, 169, 169);
  font-family: soleil, sans-serif;
  display: inline-block;
  line-height: unset;
}

.blur-background {
  opacity: 0;
  transition: all 0.3 ease-in-out;
  width: 100%;
  height: 100vh;
  inset: 0;
  z-index: -1;
  position: fixed;
}

.search-overlay-active {
  overflow: hidden;
}
.search-overlay-active .blur-background {
  opacity: 1;
  z-index: 8888;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.search-overlay-active .site-search {
  top: 0;
}

.mobile-navigation {
  background: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 4444;
  display: none;
  padding-top: 82px;
  color: #fff;
}
.mobile-navigation-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-bottom: 8rem;
}
.mobile-navigation-container::-webkit-scrollbar {
  display: none;
}
.mobile-navigation ul {
  padding: 0 1rem 0 1rem;
  margin: 0;
  list-style-type: none;
}
.mobile-navigation ul[data-id=main] li + li {
  border-top: none;
}
.mobile-navigation ul[data-id=main] a {
  padding: 0.875rem 0;
}
.mobile-navigation li {
  margin: 0;
  padding: 0;
}
.mobile-navigation li + li {
  border-top: 2px solid #dedede;
}
.mobile-navigation li.back + li {
  border-top-color: #848484;
}
.mobile-navigation li.back a {
  font-size: 1.75rem;
  font-weight: 900;
  color: #848484;
}
.mobile-navigation li.back a:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-weight: bold;
  margin-right: 0.5rem;
}
.mobile-navigation li.forward a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation li.forward a:after {
  display: block;
  content: "\f105";
  font-family: "FontAwesome";
  font-weight: 900;
  margin-right: 0.5rem;
}
.mobile-navigation a {
  display: block;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 0;
  font-family: soleil, sans-serif;
}
.mobile-navigation a:hover {
  text-decoration: none;
}
.mobile-navigation .screens-container {
  display: none;
}

.mobile-nav-show {
  overflow: hidden;
}
.mobile-nav-show .site-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}
.mobile-nav-show nav.mobile-navigation {
  display: block;
}

.newsletter-sign-up {
  background: #c8102e;
  color: #fff;
  padding: 2rem 1rem;
  font-family: soleil, sans-serif;
}
.newsletter-sign-up .gform_wrapper {
  padding: 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper ul li.gfield {
  margin-top: 0;
  padding-right: 0;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body {
    width: auto;
    display: flex;
    margin-right: 0px;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body ul.gform_fields li.gfield {
  padding-right: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body div.gfield_description {
  padding-right: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .ginput_container_email {
    padding: 0 0 0 20px !important;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield {
  width: 100%;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error {
  position: relative;
  margin-bottom: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error .validation_message {
  position: absolute;
  bottom: -25px;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield {
    display: flex;
    align-items: center;
    width: auto;
  }
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield + .gfield {
    margin-left: 10px !important;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_footer {
  width: 100%;
}
.newsletter-sign-up .gform_wrapper form .gform_footer input {
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_footer {
    width: auto;
    padding: 0 0 0 10px;
  }
  .newsletter-sign-up .gform_wrapper form .gform_footer input {
    height: 42px;
    padding: 0 40px;
    max-width: 120px;
  }
}
.newsletter-sign-up .gform_wrapper .gfield_required {
  display: none;
}
.newsletter-sign-up .gform_wrapper label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  display: block;
}
.newsletter-sign-up .gform_wrapper .gfield_description {
  font-size: 1.25em;
  line-height: 1.125em;
  font-weight: 700;
  padding: 0 0 20px 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .gfield_description {
    padding: 0 10px 0 0;
    display: inline-block;
    width: auto;
    text-align: left;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container {
  margin: 0 !important;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container select {
  width: 100%;
  height: 42px;
  font-size: 1.25rem;
  border: none;
  padding: 0 15px;
  color: #495057;
  display: inline-block;
  max-width: 100%;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/><path fill='none' d='M0 0h24v24H0V0z'/></svg>") no-repeat 100%;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container select:focus, .newsletter-sign-up .gform_wrapper .top_label div.ginput_container select:active {
  outline: none;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container select {
    width: 212px;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
  border-radius: 0;
  border: none;
  height: 42px;
  padding: 0 15px !important;
  font-size: 1.25rem;
  font-weight: 400;
  width: 100%;
  margin: 0 !important;
  display: block;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
    width: 255px;
  }
}
@media screen and (min-width: 1280px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
    width: 352px;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input::-moz-placeholder {
  font-size: 1.25rem;
  color: #495057;
  font-weight: 400;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input::placeholder {
  font-size: 1.25rem;
  color: #495057;
  font-weight: 400;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input:focus, .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input:active {
  outline: none;
}
.newsletter-sign-up .gform_wrapper .gform_footer {
  padding: 20px 0 0 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper .gform_button {
  margin: 0;
  background: transparent;
  font-size: 1.25rem !important;
  border: 1px solid #fff;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding: 0px 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  font-weight: 400;
  font-family: soleil, sans-serif;
}
@media only screen and (min-width: 641px) {
  .newsletter-sign-up .gform_wrapper .gform_button {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px 12px;
  }
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .gform_button {
    max-width: 120px !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
.newsletter-sign-up .gform_wrapper .gform_button.disabled {
  opacity: 0.2;
}
.newsletter-sign-up .gform_wrapper .gform_button.disabled:hover {
  background: transparent;
  cursor: not-allowed;
}
.newsletter-sign-up .gform_wrapper .gform_button:hover {
  background: #c8102e;
}
.newsletter-sign-up .gform_wrapper .gform_button:focus, .newsletter-sign-up .gform_wrapper .gform_button:active {
  outline: none;
}
.newsletter-sign-up .gform_wrapper .validation_error {
  display: none;
}
.newsletter-sign-up .gform_wrapper li.gfield.gfield_error {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper .gfield_error .gfield_label {
  color: #fff;
}
.newsletter-sign-up .gform_wrapper .gfield_description.validation_message {
  padding: 10px 0 0 0;
  margin: 0;
  border: none;
  color: #f2f2f2;
  font-size: 1em;
  font-weight: 700;
  display: none;
}
.newsletter-sign-up .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  padding-right: 0;
}
.newsletter-sign-up .gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
  margin-top: 0 !important;
}
.newsletter-sign-up .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  margin-left: 0;
}
.newsletter-sign-up .gform_wrapper.gf_browser_chrome .gfield_error select {
  margin-bottom: 0;
}
.newsletter-sign-up .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.newsletter-sign-up .gform_wrapper li.gfield_error textarea {
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
}

.site-footer {
  background: #fff;
  color: #000;
  padding: 20px;
  font-family: soleil, sans-serif;
}
.site-footer a {
  color: #000;
}
.site-footer ul,
.site-footer li {
  position: relative;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.site-footer li > ul {
  margin: 0;
}
.site-footer .columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site-footer .columns .col {
  width: 100%;
  padding: 0 15px 1.5rem 15px;
}
@media screen and (min-width: 544px) {
  .site-footer .columns .col {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .site-footer .columns .col {
    width: 25%;
  }
}
.site-footer .columns .col .header {
  padding-bottom: 15px;
}
.site-footer .columns .col .header h4 {
  font-size: 1rem;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}
.site-footer .columns .col .link-list li a {
  font-size: 1rem;
  line-height: 1.5em;
}
.site-footer .columns .col .link-list li a:hover {
  color: #ddd;
}
.site-footer .columns .col .link-list li a.dealer-locator:before {
  color: #000;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f041";
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  top: 0.12rem;
  padding-right: 5px;
}
.site-footer .columns .social {
  padding-top: 16px;
  max-width: 15%;
  min-width: 250px;
}
@media screen and (min-width: 768px) {
  .site-footer .columns .social {
    padding-top: 0;
  }
}
.site-footer .columns .social .social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .columns .social .social-links li {
  width: 33.3333%;
  padding-bottom: 10px;
}
.site-footer .columns .social .social-links a {
  display: block;
  background: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
}
.site-footer .columns .social .social-links a:hover {
  background: #999;
}
.site-footer .columns .social .social-links a:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  position: absolute;
  color: #fff;
}
.site-footer .columns .social .social-links a.facebook:after {
  content: "\f09a";
}
.site-footer .columns .social .social-links a.twitter:after {
  content: "\f099";
}
.site-footer .columns .social .social-links a.instagram:after {
  content: "\f16d";
}
.site-footer .columns .social .social-links a.linkedin:after {
  content: "\f0e1";
}
.site-footer .columns .social .social-links a.youtube:after {
  content: "\f16a";
}
.site-footer .columns .social .social-links a.pinterest:after {
  content: "\f0d2";
}
.site-footer .columns .social .social-links a img {
  display: none;
}
.site-footer .columns .social .blog {
  max-width: 50%;
}
@media screen and (min-width: 992px) {
  .site-footer .columns .social .blog {
    max-width: 100%;
  }
}
.site-footer .columns .social .blog a {
  display: block;
}
.site-footer .columns .social .blog a img {
  width: 100%;
}
.site-footer .columns .lang-switcher {
  padding-top: 2rem;
}

.corporate-footer {
  background: rgb(233, 236, 239);
  color: #000;
  padding: 1rem 1rem 2rem 1rem;
  font-family: soleil, sans-serif;
}
.corporate-footer .global {
  padding: 0 15px;
}
.corporate-footer .global ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.corporate-footer .global li {
  padding: 0 20px;
}
.corporate-footer .global a {
  color: #000;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5em;
}
.corporate-footer .copyright {
  padding: 5px 15px 0 15px;
}

body.single-post section#products {
  padding: 30px 20px 60px 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
body.single-post section#products h5 {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.25em;
}
body.single-post section#products .products-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  body.single-post section#products .products-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  body.single-post section#products .products-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
body.single-post section#products .products-wrapper .product .photo img {
  display: block;
  max-height: 185px;
  margin: 0 auto;
}
body.single-post section#products .products-wrapper .product .info {
  padding: 20px 20px 0 20px;
  text-align: center;
}
body.single-post section#products .products-wrapper .product .info h4 {
  padding: 0 0 15px 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25em;
  color: #000;
}
body.single-post section#products .products-wrapper .product .info .shop {
  color: #c8102e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
}