@use 'sass:math';

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) + px;
    font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin transition($transitionValue...) {
    -webkit-transition: $transitionValue;
    -moz-transition: $transitionValue;
    -ms-transition: $transitionValue;
    -o-transition: $transitionValue;
    transition: $transitionValue;
}

@mixin transform($transformValue...) {
    -webkit-transform: $transformValue;
    -moz-transform: $transformValue;
    -ms-transform: $transformValue;
    -o-transform: $transformValue;
    transform: $transformValue;
}

@mixin transform-origin($transformOrigin...) {
    -webkit-transform-origin: $transformOrigin;
    -moz-transform-origin: $transformOrigin;
    -ms-transform-origin: $transformOrigin;
    -o-transform-origin: $transformOrigin;
    transform-origin: $transformOrigin;
}

@mixin box-sizing($boxSizing...) {
    -webkit-box-sizing: $boxSizing;
    -moz-box-sizing: $boxSizing;
    box-sizing: $boxSizing;
}

// Clearfix
@mixin clearfix() {
    content: '';
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

@mixin transform($transformValue...) {
    -webkit-transform: $transformValue;
    -moz-transform: $transformValue;
    -ms-transform: $transformValue;
    -o-transform: $transformValue;
    transform: $transformValue;
}

@mixin transform-origin($transformValue...) {
    -webkit-transform-origin: $transformValue;
    -moz-transform-origin: $transformValue;
    -ms-transform-origin: $transformValue;
    -o-transform-origin: $transformValue;
    transform-origin: $transformValue;
}

@function prefix($property, $prefixes: (webkit moz o ms)) {
    $vendor-prefixed-properties: transform background-clip background-size;
    $result: ();
    @each $prefix in $prefixes {
        @if index($vendor-prefixed-properties, $property) {
            $property: -#{$prefix}-#{$property};
        }
        $result: append($result, $property);
    }
    @return $result;
}

@function trans-prefix($transition, $prefix: moz) {
    $prefixed: ();
    @each $trans in $transition {
        $prop-name: nth($trans, 1);
        $vendor-prop-name: prefix($prop-name, $prefix);
        $prop-vals: nth($trans, 2);
        $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
    }

    @return $prefixed;
}

@mixin transition-prefix($values...) {
    $transitions: ();
    @each $declaration in $values {
        $prop: nth($declaration, 1);
        $prop-opts: ();
        $length: length($declaration);
        @for $i from 2 through $length {
            $prop-opts: append($prop-opts, nth($declaration, $i));
        }
        $trans: ($prop, $prop-opts);
        $transitions: append($transitions, $trans, comma);
    }

    -webkit-transition: trans-prefix($transitions, webkit);
    -moz-transition: trans-prefix($transitions, moz);
    -o-transition: trans-prefix($transitions, o);
    transition: $values;
}

/* Media Queries
----------------------------------*/

$mobile-portrait-width: 480px;
$mobile-landscape-width: 640px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-small-width: 992px;
$desktop-medium-width: 1200px;
$desktop-width: 1280px;
$desktop-large-width: 1920px;

@mixin mobile-portrait {
    @media screen and (min-width: #{$mobile-portrait-width}) {
        @content;
    }
}

@mixin mobile-landscape {
    @media screen and (min-width: #{$mobile-landscape-width}) {
        @content;
    }
}

@mixin tablet-portrait {
    @media screen and (min-width: #{$tablet-portrait-width}) {
        @content;
    }
}

@mixin tablet-landscape {
    @media screen and (min-width: #{$tablet-landscape-width}) {
        @content;
    }
}

@mixin desktop-small {
    @media screen and (min-width: #{$desktop-small-width}) {
        @content;
    }
}

@mixin desktop-medium {
    @media screen and (min-width: #{$desktop-medium-width}) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (min-width: #{$desktop-large-width}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: math.div($height, $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin placeholder {
    $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

@mixin scroll-x {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin scroll-y {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
