.hamburger-btn {
	@media screen and (min-width: 992px) {
		display: none;
	}

	a {
		display: block;
		color: $black;
		font-size: 1.6rem;
		line-height: 2.25em;
		height: auto;
		text-decoration: none;
		cursor: pointer;
		padding: 4px 12px;
	}
}