.site-search {
	width: 100%;
	padding-top: 1rem;
	display: block;

	@media screen and (min-width: 992px) {
		padding-top: 0;
		width: 45vw;
		order: 2;
		margin-right: auto;
	}

	form {
		position: relative;
		max-width: 100%;
	}

	.search-input {
		width: 100%;
		border: 1px solid #ced4da;
		border-radius: 3px;
		background: transparent;
		color: $black;
		padding: 6px 32px 6px 12px;
		font-size: 1rem;
		line-height: 1.5em;
		box-sizing: border-box; 

		@include placeholder {
			color: #6D757D;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		color: #4a4a4a;
		z-index: 10;
		outline: 0;
		border: 0;
		background: none;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		padding: 0;

		&:before {
			content: "\F002";
			font-size: 1.125rem;
		}
	}
}