.site-nav {
	padding-top: 16px;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;

	&.show {
		max-height: 2000px;
	}

	.menu-item {
		padding: 0 1rem;

		@media screen and (min-width: 992px) {
			padding: 0;
		}
	}

	ul, li {
		position: relative;
		margin: 0;
		padding-inline-start: 0;
		list-style-type: none;
	}

	li > ul {
		margin: 0;
	}

	@media screen and (min-width: 992px) {
		order: 4;
		padding-top: 48px;
		max-height: none !important;
		overflow: visible;

		.navbar {
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin: 0 calc(10vh - 1rem);
		}
	}

	@include desktop {
		.navbar {
			margin: 0 10vh;
		}		
	}

	.nav-link {
		color: $black;
		font-weight: 900;
		text-transform: uppercase;
		padding: 8px 0;
		display: block;

		@media screen and (min-width: 992px) {
			padding-bottom: 36px;
			font-size: 1.25rem;
		}

		&.dropdown-link {
			&:after {
				display: inline-block;
				width: 0;
				height: 0;
				margin-left: .255em;
				vertical-align: .255em;
				content: "";
				border-top: .3em solid;
				border-right: .3em solid transparent;
				border-bottom: 0;
				border-left: .3em solid transparent;
				color: $black;
			}
		}
	}

	.dropdown-nav {
		background: $white;
		width: calc(100% + 2rem);
		transform: translateX(-1rem);
		border-top: 4px solid $red;
		padding: 1rem 2rem;
		display: none;

		&.show {
			display: flex;
			flex-wrap: wrap;
		}

		a {
			color: $black;
		}

		@media screen and (min-width: 992px) {
			position: absolute;
			top: 44px;
			left: 0;
			z-index: 20;
			width: 240px;
			padding: 24px 0 0 0;
		}
	}

	.link-group-header {
		text-transform: uppercase;
		font-weight: 700;
		display: inline-block;
		padding-bottom: 8px;
		width: 100%;

		&:hover {
			color: $red;
		}
	}

	.link-group {
		@media screen and (min-width: 992px) {
			padding: 0 35px 5px 35px;
			width: 100%;

			&:last-of-type {
				padding-bottom: 8px;
			}
		}
	}

	.three-col {
		@media screen and (min-width: 992px) {
			width: 880px;
			flex-wrap: wrap;
		}

		.link-group {
			width: 100%;

			@media screen and (min-width: 992px) {
				flex: 0 0 33.33333%;
				max-width: 33.33333%;
				padding: 0 35px 30px 35px;
			}

			& + .link-group {
				padding-top: 24px;

				@media screen and (min-width: 992px) {
					padding-top: 0;
				}
			}
		}
	}

	.sub-link {
		line-height: 1.35rem;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}