.user-links	{
	display: flex;
	align-items: center;

	@media screen and (min-width: 992px) {
		order: 3;
	}

	a {
		display: block;
		line-height: 1em;
		padding: 8px 16px;
	}

	.account {
		border-right: 1px solid $black;
	}

	.cart {
		a {
			padding-right: 0;
		}
	}


	.fa-user,
	.fa-shopping-bag {
		font-size: 1.2rem !important;
		color: $black;

		a {
			display: block;
		}
	}

	.fa-user:before {
		content: "\F007";
	}

	.fa-shopping-bag:before {
		content: "\F07A";
	}


	.wpml-ls-legacy-dropdown {
		max-width: 85px;
		padding: 0;

		.wpml-ls-sub-menu {
			min-width: 10rem;
			padding: .5rem 0;
			margin: 0;
			font-size: 1rem;
			color: #212529;
			text-align: left;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: .1875rem;

		}
	}

	 .wpml-ls-statics-shortcode_actions {
	 	border: none;

	 	.wpml-ls-current-language {
	 		& > a {
		 		&:after {
		 			font-family: $font-awesome;
				    content: "\F107";
				    width: 10px;
				    border: none;
				    top: 7px;	 			
		 		}
	 		}
	 	}

	 	a {
	 		border: none;
	 		padding: 4px 8px;
	 		color: $black;
	 		font-size: 0.875rem;

	 		&:hover {
			 	background: $white;
			 	color: $black;
	 		}
	 	}

		 .wpml-ls-current-language:hover > a,
		 .wpml-ls-current-language > a:focus {
		 	background: $white;
		 	color: $black;
		 }
	 }
}