a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: $color__text-main;
	}
}

.featured-text h2 a {
	color: $color__text-light;
}

a.read-more,
.entry-inserted .entry-more a {
	color: $color__text-light;
	background-color: $color__brand-01;
	border: none;
	padding: 10px 20px;
	@include transition(color 0.4s ease);
}
a.read-more:hover,
.entry-inserted .entry-more a:hover {
	color: rgba(255,255,255,0.5);
	background-color: $color__brand-01;
	border: none;
	text-decoration: none;
}

.entry-more a {
	border: 1px solid $color__text-main;
	color: $color__text-main;
	background-color: transparent;
	padding: 5px 15px;
	@include transition(background-color 0.4s ease, color 0.4s ease);
}

.entry-more a:hover {
	border: 1px solid $color__text-main;
	color: $color__text-light;
	background-color: $color__text-main;
	text-decoration: none;
}


.entry-tags a,
.entry-categories a {
	padding: 4px 10px;
	color: $color__text-main;
	border: 1px solid $color__text-main;
	@include transition(background-color 0.4s ease, color 0.4s ease);
	
	&:hover {
		color: $color__text-light;
		background-color: $color__text-main;
		text-decoration: none;
	}
}

@media screen and (max-width: 650px) {
	a.read-more {
		padding: 7px 12px;
	}
}