.post-pagination {
	width: 100%;
	text-align: center;
	padding: 10px 0 30px;
	
	.page-numbers {
		padding: 4px 8px;
		margin: 0 2px;
		font-size: 14px;
		background-color: $color__graybg;
		color: $color__text-gray;
		@include transition (background-color 0.4s ease);
	}
	
	.page-numbers:hover {
		background-color: $color__background-button;
		color: $color__text-light;
		text-decoration: none;
	}
	.page-numbers.current,
	.page-numbers.current:hover {
		color: $color__text-light;
		background-color: $color__background-dark;
	} 
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
