$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e2383f;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark: rgb(17,17,17);

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #e2383f;
$color__link-visited: #e2383f;
$color__link-hover: #e2383f;
$color__text-main: rgb(17,17,17);
$color__text-light: #fff;
$color__text-gray: rgb(120,120,120);

$color__border-button: #e2383f;
$color__border-button-hover: #e2383f;
$color__border-button-focus: #e2383f;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__brand-01: #e2383f;
$color__graybg: rgb(248,248,248);
$color__darkgraybg: #f2f2f2;

$black: #000;
$white: #fff;
$off-white: #f2f2f2;
$red: #c8102e;