$font__main: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$font__title: 'futura-pt', Arial, Sans-Serif;
$font__title-condensed: 'futura-pt-condensed', Arial, Sans-Serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@import url('https://use.typekit.net/rpx1vhj.css');

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.woff2') format('woff2');
}

$font-awesome: 'FontAwesome';
$soleil: soleil, sans-serif;
$futura-pt: futura-pt, sans-serif;
$futura-pt-bold: futura-pt-bold, sans-serif;

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 $font-awesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
