h1, h2, h3, h4, h5, h6 {
	clear: both;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

h1 {
	font-family: $font__title-condensed;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 3px;
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	font-family: $font__title;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h1 {
	font-size: 48px;
	line-height: 48px;
}

h2 {
	font-size: 20px;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	line-height: 24px;
}

h4 {
	font-size: 16px;
	line-height: 22px;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 18px;
}

/* Navbar Type Styling */

.site-title h1 {
	font-family: $font__title-condensed;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: .95;
	margin: 0;
	color: $color__text-light;
}

.shop-msr {
	font-family: $font__title;
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.shop-msr, .shop-msr:visited, .shop-msr:hover, .shop-msr:active {
  color: $color__text-light; 
}

.menu li a {
	font-family: $font__title;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $color__text-light;
}

/* Featured Content Headers */

.entry-title.featured-title {
	font-family: $font__title-condensed;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 1;
	color: $color__text-light;
	margin: 20px 0;
	
	& a:hover, a:visited {
		color: $color__text-light;
	}
}

.read-more {
	font-family: $font__title;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: .95;
	margin: 0;
}

/* Post Grid Headers */

.entry-title {
	margin: 0;
	
	& a:hover, a:visited {
		text-decoration: none;
		color: $color__text-main;
	}
}
.entry-meta {
	font-family: $font__title;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	margin: .25em 0 0;
}
.entry-more a,
.entry-tags {
	font-family: $font__title;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 14px;
}

.page-numbers {
	font-family: $font__title;
	font-weight: 500;
	text-transform: uppercase;
}

.entry-inserted h3 {
	font-family: $font__title-condensed;
	font-size: 36px;
	line-height: 36px;
}

.entry-inserted p {
	font-size: 20px;
	line-height: 24px;
}
/* Widget & Sidebar Headers */

.widget-title {
	font-size: 22px;
}
.list-title {
	font-family: $font__title;
	font-weight: 700;
	text-transform: uppercase;
}

@media screen and (max-width: 950px) {
	.entry-title.featured-title {
		font-size: 50px;
		letter-spacing: 2px;
	}
}


@media screen and (max-width: 650px) {
	h1 {
		font-size: 32px;
		line-height: 32px;
	}
	.read-more {
		font-size: 14px;
	}
	
	.entry-title.featured-title {
		font-size: 32px;
		letter-spacing: 1px;
	}
}
