.site-header {
    border-bottom: 1px solid $red;
    z-index: 5555;
    position: relative;

    a:hover {
        text-decoration: none;
    }

    div {
        position: relative;
    }

    *,
    input[type='search'] {
        box-sizing: border-box;
    }

    @import '../template-parts/header/new/nav-bar';

    @import '../template-parts/header/new/hamburger';

    @import '../template-parts/header/new/logo';

    @import '../template-parts/header/new/site-navigation';

    @import '../template-parts/header/new/utilities';

    @import '../template-parts/header/new/banner';
}

.mobile-nav-show {
    .site-header {
        border-bottom: none;
    }
}

@import '../template-parts/header/new/blog-nav';

@import '../template-parts/header/new/search';

@import '../template-parts/header/new/mobile-navigation';
