body.single-post {

    section#products {
        padding: 30px 20px 60px 20px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        h5 {
            color: $black;
            font-size: 1.125rem;
            line-height: 1.25em;
        }

        .products-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            @include tablet-portrait {
                grid-template-columns: repeat(3, 1fr);
            }

            @include tablet-landscape {
                grid-template-columns: repeat(4, 1fr);
            }

            .product {
                .photo {
                    img {
                        display: block;
                        max-height: 185px;
                        margin: 0 auto;
                    }                    
                }

                .info {
                    padding: 20px 20px 0 20px;
                    text-align: center;
                    
                    h4 {
                        padding: 0 0 15px 0;
                        margin: 0;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 1.25em;
                        color: $black;
                    }

                    .shop {
                        color: $red;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 0.8125rem;
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }


}