.banner {
    display: none;

    @include desktop-small {
        display: flex;
        background: $red;
        padding: 0.5rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    a {
        color: $white;
        display: block;
        font-size: 1rem;
        line-height: 1.75em;
    }
}
