.blog-nav {
    padding: 25px 0;
    background: $off-white;

    @include tablet-landscape {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            max-width: 120px;

            @include tablet-landscape {
                margin-right: 16px;
            }

            @include desktop {
                margin-right: 24px;
            }
        }

        .mobile-toggle {
            padding-left: 50px;

            @include tablet-landscape {
                display: none;
            }

            a {
                display: block;
                line-height: 0;

                img {
                    max-width: 24px;
                    width: 100%;
                    transition: all 0.2s ease-in;
                }
            }
        }
    }

    &-links {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in;

        @include tablet-landscape {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            max-height: unset;
            overflow: unset;
            padding-top: 0 !important;
        }

        a:not(.search-btn) {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.875rem;
            width: 100%;
            text-align: center;
            padding: 10px;
            color: $black;

            @include mobile-landscape {
                width: auto;
            }

            @include tablet-landscape {
                padding: 10px 16px;
            }

            @include desktop {
                padding: 10px 24px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .search-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: all 0.2s ease-in;
            position: relative;

            @include tablet-landscape {
                width: auto;
                padding-left: 20px;
                justify-content: flex-start;
            }

            .search-trigger {
                display: block;
                padding: 0;
                margin: 4px 0 0 0;
                width: 14px;
                max-width: 14px;
                line-height: 14px;

                &:active,
                &:focus {
                    outline: none;
                }

                img {
                    width: 14px;
                    max-width: 14px;
                }
            }

            .search-trigger-open {
                display: none;
            }

            &.open {
                .search-trigger-closed {
                    display: none;
                }
                .search-trigger-open {
                    display: block;
                }

                .form-wrapper {
                    display: block;
                }
            }

            .form-wrapper {
                width: 280px;
                overflow: hidden;
                transition: all 0.2s ease-in;
                position: absolute;
                top: 32px;
                right: calc(50% - 240px / 2);
                z-index: 100;
                display: none;

                @include desktop-small {
                    right: 0;
                }

                form {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .search-input {
                        flex: 1;
                    }
                }
            }
        }
    }

    &.open {
        .mobile-toggle {
            img {
                transform: rotate(180deg);
            }
        }

        .blog-nav-links {
            padding-top: 10px;
            overflow: unset;
            max-height: 1000px;
        }
    }
}
