.hamburger {
    margin-right: auto;
    width: 6rem;
    margin-left: 4px;

    @include desktop-small {
        display: none;
    }

    a {
        &:before {
            content: '\F0C9';
            display: block;
            font-family: $font-awesome;
            color: $black;
            font-size: 1.5rem;
            font-weight: 100;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &.show {
            &:before {
                content: '\F00D';
            }
        }
    }
}
