.logo {
    display: flex;
    justify-content: center;
    margin-left: -6px;

    @include desktop-small {
        margin-right: 0.625rem;
    }

    @include desktop-medium {
        margin-right: 0;
    }

    a {
        display: block;
    }

    img {
        width: 125px;
        height: 48px;
        object-fit: contain;
    }
}
