.mobile-navigation {
    background: $white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 4444;
    display: none;
    padding-top: 82px;
    color: $white;

    &-container {
        @include scroll-y;
        height: 100%;
        padding-bottom: 8rem;
    }

    ul {
        padding: 0 1rem 0 1rem;
        margin: 0;
        list-style-type: none;

        &[data-id='main'] {
            li + li {
                border-top: none;
            }

            a {
                padding: 0.875rem 0;
            }
        }
    }

    li {
        margin: 0;
        padding: 0;

        & + li {
            border-top: 2px solid #dedede;
        }

        &.back {
            & + li {
                border-top-color: #848484;
            }

            a {
                font-size: 1.75rem;
                font-weight: 900;
                color: #848484;

                &:before {
                    content: '\F104';
                    font-family: $font-awesome;
                    font-weight: bold;
                    margin-right: 0.5rem;
                }
            }
        }

        &.forward {
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:after {
                    display: block;
                    content: '\F105';
                    font-family: $font-awesome;
                    font-weight: 900;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    a {
        display: block;
        color: $black;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem 0;
        font-family: $soleil;

        &:hover {
            text-decoration: none;
        }
    }

    .screens-container {
        display: none;
    }
}

.mobile-nav-show {
    overflow: hidden;
    .site-header {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
    }
    nav.mobile-navigation {
        display: block;
    }
}
