.utilities {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 6rem;

    @include desktop-small {
        width: auto;
        padding-right: 0.5rem;
    }

    .search {
        .mobile {
            @include desktop-small {
                margin-right: 0.5rem;
            }
            @include desktop-medium {
                display: none;
            }

            a {
                display: block;

                &:before {
                    content: '\F002';
                    display: block;
                    font-family: $font-awesome;
                    color: $black;
                    font-size: 1.675rem;

                    @include desktop-small {
                        font-size: 1rem;
                    }
                }
            }
        }

        .desktop {
            display: none;

            @include desktop-medium {
                display: block;
            }

            .search-container {
                position: relative;
                cursor: pointer;

                .search-field {
                    pointer-events: none;
                    border: 1px solid #ced4da;
                    border-radius: 3px;
                    background: transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    width: 138px;
                    height: 38px;
                    padding-left: 35px;
                    font-weight: 500;
                    font-family: $soleil;

                    &:focus,
                    &:active {
                        outline: none;
                    }

                    @include placeholder {
                        color: #6c757d;
                    }
                }

                .search-btn {
                    border: none;
                    padding: 0;
                    margin: 0;
                    display: block;
                    background: transparent;
                    position: absolute;
                    top: 11px;
                    left: 12px;

                    &:before {
                        content: '\F002';
                        display: block;
                        font-family: $font-awesome;
                        color: $black;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        padding-left: 1rem;

        @include desktop-small {
            padding-left: 1.5rem;
        }

        .profile {
            display: none;

            @include desktop-small {
                display: block;
                padding-right: 1.5rem;

                &:before {
                    content: '';
                    display: block;
                    height: 40px;
                    width: 1px;
                    background: $black;
                    position: absolute;
                    right: 0.675rem;
                    top: -8px;
                }
            }

            a {
                display: block;

                &:before {
                    content: '\F007';
                    display: block;
                    font-family: $font-awesome;
                    color: $black;
                    font-size: 1.375rem;
                }
            }
        }

        .cart {
            a {
                display: block;

                &:before {
                    content: '\F07A';
                    display: block;
                    font-family: $font-awesome;
                    color: $black;
                    font-size: 1.75rem;
                    font-weight: bold;

                    @include desktop-small {
                        font-size: 1.375rem;
                    }
                }
            }
        }
    }
}
