body.home {
    .featured-content {
        height: unset;
        max-height: 650px;
        aspect-ratio: 4 / 3;

        @include tablet-portrait {
            aspect-ratio: 16 / 9;
        }

        @include desktop-small {
            aspect-ratio: unset;
            width: 100%;
            height: 650px;
        }

        .featured-text {
            bottom: unset;
            inset: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .entry-title.featured-title {
            margin-bottom: 50px;
            width: 100%;
        }
    }

    .flex-control-nav {
        right: calc(50% - 46px);
    }
}
