.widget {
	margin: 0 0 1em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget_cdi_ajaxmailer_widget {
	width: 100%;
	padding: 30px;
	background-color: $color__background-dark;	
	margin-bottom: 1px;
	
	.widget-title {
		color: $color__text-light;
		margin: 10px 0;
	}
	
	#cdi_mailer_email {
	   display: inline-block;
	   width: 144px;
	   vertical-align: top;
	}
	.button {
		display: inline-block;
	}
	
	#cdi_mailer_form {
		font-size: 14px;
		line-height: 1.4;
		padding: 5px 0;
		color: $color__text-light;
		
	}
}

.widget_msr_follow_social_widget {
	.msr-social-icon {
		background-color: $color__background-dark;
		padding: 15px 20px;
		display: inline-block;
		width: calc(25% - 2px);
		margin: 1px;
		-webkit-transition: background-color 0.4s ease;
		-moz-transition: background-color 0.4s ease;
		-o-transition: background-color 0.4s ease;
		transition: background-color 0.4s ease;
		
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.msr-social-icon:hover {
			background-color: $color__brand-01;
	}
}

.widget_text {
	.widget-title {
		background-color: $color__graybg;
		padding: 7px 12px;
		margin-bottom: 0;
		text-align: center;
	}
	.textwidget {
		border: 1px solid $color__darkgraybg;
		padding: 20px; 
		a {
			opacity: 1;
			display: block;
			-webkit-transition: opacity 0.4s ease;
			-moz-transition: opacity 0.4s ease;
			-o-transition: opacity 0.4s ease;
			transition: opacity 0.4s ease;
			
			img {
				display: block;
				float: none;
				margin-right: none;
			}
		}
		
		a:hover {
			opacity: 0.8;
		}
	}
}

.widget_youtubesidebarwidget {
	.widget-title {
		background-color: $color__graybg;
		padding: 7px 12px;
		margin-bottom: 0;
		text-align: center;
	}
	ul {
		margin: 0;
		padding: 0;
		float: none;
		overflow: hidden;
	}
	
	#youtube-sidebar-widget ul li div.play_arrow {
		background: url(./img/icon-play.png) no-repeat center center;
		background-size: 75px 75px;
		opacity: 1;
		@include transition (opacity 0.4s ease);
	}
	#youtube-sidebar-widget ul li:hover div.play_arrow {
		opacity: 0.5;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

@media screen and (max-width: 950px) {
	.widget_text,
	.widget_youtubesidebarwidget {
		display: none;
	}
	
	.widget_cdi_ajaxmailer_widget {
		
		.widget-title {
			max-width: 300px;
			margin: 10px auto;
			text-align: center;
		}
		
		#cdi_mailer_email {
		   width: 144px;
		}
		
		#cdi_mailer_form {
			max-width: 200px;
			margin: auto;
			
		}
	}
	
	.widget_msr_follow_social_widget {
		.msr-social-icon {
			padding: 15px 20px;
			height: 60px;
			
			img {
				width: auto;
				height: 100%;
				margin: auto;
			}
		}
	}
}