button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $color__border-button;
	background: $color__background-button;
	color: $color__text-light;
	font-family: $font__title-condensed;
	text-transform: uppercase;
	font-weight: 700;
	@include font-size(1);
	line-height: 21px;
	padding: 7px 12px;
	@include transition(color 0.4s ease);

	&:hover {
		color: rgba(255,255,255, 0.5);
	}

	&:active,
	&:focus {
		outline: none
	}
}