input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	font-size: 14px;

	&:focus {
		color: $color__text-input-focus;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 7px 15px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.site-search input[type="text"] {
	width: 100%;
}
.has-featured-image .site-search input[type="text"] {
	border:none;
	background-color: rgba(0,0,0,0.5);
	color: $color__text-light;	
}
.site-fixed-header .site-search input[type="text"],
.site-search input[type="text"] {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: $color__background-body;
	color: $color__text-main;
	@include transition(background-color 0.4s ease);	
}
.site-fixed-header.no-animation .site-search input[type="text"] {
	@include transition(none);
}