.blog-search {
    width: 100%;
    max-width: 970px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #f8f8f8;

    .search-header {
        padding-bottom: 1rem;
        h4 {
            margin: 0;
        }
    }

    .form {
        form {
            width: 100%;
            display: flex;
            align-items: center;
        }

        input[type='text'] {
            flex: 1;
        }

        input[type='submit'] {
            margin-left: 1rem;
            letter-spacing: 0.05em;
        }
    }
}
