.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.article-comments {
	width: 100%;
	background-color: $color__graybg;
	padding: 60px 40px;
}
#disqus_thread {
	width: 100%;
	max-width: 800px;
	margin: auto;
}