main {
    width: 100%;
    max-width: 1040px;
    min-height: 450px;
    margin: auto;
    padding: 60px 20px 30px;
}
main::after {
    @include clearfix-after();
}
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

/* Featured Content */

.featured-content {
    position: relative;
    width: 100%;
    height: 650px;
}

.flex-viewport {
    height: 100%;
}

.slides {
    width: 100%;
    height: 100%;
}

.featured-item {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.featured-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.1) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0.4)),
        color-stop(100%, rgba(0, 0, 0, 0.1))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.1) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.1) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.1) 100%
    ); /* IE10+ */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.featured-text {
    position: absolute;
    width: 100%;
    max-width: 1100px;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 60px;
}

/* Post Grid layout styles */

.post-grid {
    width: calc(33% - 20px);
    margin: 10px;
    float: left;
    background-color: $color__graybg;
    // 	border: 1px solid $color__darkgraybg;
}
.post-grid.entry-inserted {
    width: calc(100% - 30px);
    height: 302px;
}
.entry-thumb {
    width: 100%;
    height: 202px;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
}
.entry-inserted .entry-thumb {
    width: 66%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.entry-text-content {
    margin: 30px;
    height: 210px;
    overflow: hidden;
}
.entry-inserted .entry-text-content {
    float: left;
    width: calc(33% - 88px);
    margin: 0;
    margin: 44px 44px 24px 44px;
    height: auto;
}

.entry-content {
    margin: 0.75em 0 0;
}
.post-grid .entry-content p {
    margin: 0;
}
.entry-inserted .entry-content {
    overflow: hidden;
    max-height: 96px;
}

.entry-text-content.no-thumb {
    height: 402px;
    margin-top: 40px;
}
.entry-more {
    margin: 30px;
}
.entry-inserted .entry-more {
    float: left;
    margin: 0 0 0 45px;
}
.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

@media screen and (max-width: 950px) {
    .featured-content {
        height: 500px;
    }
    .post-grid {
        width: calc(50% - 20px);
    }
    .post-grid.entry-inserted {
        width: calc(100% - 20px);
    }
    .entry-inserted .entry-thumb {
        width: calc(50% - 10px);
    }
    .entry-inserted .entry-text-content {
        width: calc(50% - 78px);
    }
}

@media screen and (max-width: 650px) {
    .featured-content {
        height: 420px;
    }
    .post-grid {
        width: calc(100% - 20px);
    }

    .entry-text-content.no-thumb {
        height: 258px;
        margin-top: 40px;
    }

    .post-grid.entry-inserted {
        height: auto;
        padding-bottom: 55px;
    }
    .entry-inserted .entry-thumb {
        width: 100%;
        height: 202px;
    }
    .entry-inserted .entry-text-content {
        width: calc(100% - 88px);
    }
}

/* Video Post Format */

.format-standard .entry-thumb-icon {
    display: none;
}

.format-video .entry-thumb-icon {
    width: 100%;
    height: 100%;
    background: url(./img/icon-play.png) no-repeat center center;
    background-size: 75px 75px;
    opacity: 1;
    @include transition(opacity 0.4s ease);
}
.format-video .entry-thumb-icon:hover {
    opacity: 0.5;
}

/* Single Post Styles */
.responsive-table {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 40px;

    table {
        font-size: 0.875rem;

        thead {
            text-align: left;

            th {
                background: $red;
                color: $white;
                padding: 10px;
            }
        }

        tbody {
            td {
                padding: 10px;
                vertical-align: middle;

                img {
                    margin: 0;
                }

                a {
                    color: $red;
                }
            }

            tr:nth-child(even) {
                td {
                    background: #fafafa;

                    img {
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }
}

.article-featured-image {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;
}

.article-body {
    width: 100%;
    max-width: 1000px;
    margin: auto;

    .content-area {
        width: 100%;
        float: left;
        padding: 0 50px 0 20px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    .widget-area {
        width: 300px;
        float: left;
        padding: 60px 20px;
    }
}

.single-post .entry-meta {
    margin-top: 15px;
    position: relative;

    .entry-time,
    .entry-categories {
        display: inline-block;
        margin-top: 0;
    }

    .entry-time {
        margin-right: 10px;
    }
    .entry-categories a {
        display: inline-block;
        margin: 0px 10px 0 0;
    }

    .sd-sharing-enabled {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 10px;
        vertical-align: top;
    }
}

.single-post .entry-footer {
    margin: 20px 0;

    .entry-tags a {
        margin: 0 0 10px 10px;
        display: inline-block;
    }
}

@media screen and (max-width: 950px) {
    .article-body {
        .content-area {
            width: 100%;
            max-width: 700px;
            margin: auto;
            float: none;
            padding: 0 20px 0 20px;

            main {
                padding: 60px 10px 30px;
            }
        }
        .widget-area {
            width: 100%;
            max-width: 700px;
            padding: 20px 20px;
            margin: auto;
            float: none;
        }
    }
    .featured-text {
        padding: 30px 60px;
    }

    .article-featured-image {
        height: 350px;
    }
}

@media screen and (max-width: 650px) {
    .single-post .entry-meta {
        .entry-categories {
            margin-top: 5px;
        }

        .entry-categories a {
            margin-top: 5px;
        }

        .sd-sharing-enabled {
            display: block;
            position: relative;
            float: none;
            margin: 15px 0 0 0;
        }
    }

    .featured-text {
        bottom: 40px;
    }

    .article-featured-image {
        height: 250px;
    }
}

@media screen and (max-width: 400px) {
    main {
        padding: 40px 10px 30px;
    }

    .article-body .content-area main {
        padding: 40px 10px 20px;
    }
}
/* Search Results */

.search {
    .no-results .page-title {
        padding: 0;
        margin: 0.67em 0;
        background-color: transparent;
        font-size: 48px;
        color: $color__text-main;
    }
    .page-title {
        font-size: 34px;
        text-align: center;
        color: $color__text-gray;

        span {
            color: $color__text-main;
        }
        span::before {
            content: '“';
        }
        span::after {
            content: '”';
        }
    }
}
/* Error, 404, Not found */

.error-404,
.no-results,
.not-found {
    text-align: center;
}
